<div class="text-center">
  <img src="../../../../assets/imgs/authBack.jpg" alt="" />
  <div class="filter"></div>
  <mat-card>
    <mat-card-title>
      <h1>
        Únete a Alkybank, maneja tus activos en un solo lugar y desde cualquier parte del mundo.
      </h1>
    </mat-card-title>
    <mat-card-content>
      <p>
        Descubre las nuevas funcionalidades de Alkybank para tener control de tu día a día y pagar desde tu móvil.
      </p>
    </mat-card-content>
  </mat-card>
  
  <button mat-flat-button color="primary" routerLink="register">¡Hazte cliente!</button>
</div>
